## 데이터 전처리

In [1]:
# 패키지 import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# -' 깨짐 해결'
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns
from scipy import stats
# 한글 깨짐 해결
plt.rc('font', family='Malgun Gothic')

In [19]:
# 데이터 불러오기
df = pd.read_excel("교육통계데이터_2차.xlsx")

In [ ]:
# 2015~2022년의 데이터가 필요할때
# df = pd.read_excel("교육통계데이터_2015_2020_raw_data.xlsx") # 2015~2020년 데이터
# df2 = pd.read_excel('교육통계데이터_합칠꺼.xlsx') # 2022~2021년 데이터
# df2 = pd.concat([df, df2], axis=0)

In [20]:
df

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여,교사수_전체
0,2021,서울,종로구,유치원,16,1077,558,519,0,500,264,236,0,0,0,92
1,2021,서울,종로구,초등학교,13,5072,2555,2517,3,772,375,397,42,21,21,421
2,2021,서울,종로구,중학교,9,2773,1452,1321,6,847,411,436,25,15,10,225
3,2021,서울,종로구,고등학교,14,8067,4403,3664,10,2530,1357,1173,82,36,46,671
4,2021,서울,종로구,(일반고),6,3305,1641,1664,5,1001,476,525,30,11,19,281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4042,2022,제주,서귀포시,고등학교,10,4094,2265,1829,8,1442,784,658,58,31,27,397
4043,2022,제주,서귀포시,(일반고),8,3364,1774,1590,6,1176,614,562,35,16,19,310
4044,2022,제주,서귀포시,(특성화고),2,730,491,239,2,266,170,96,23,15,8,87
4045,2022,제주,서귀포시,특수학교,1,114,78,36,1,34,22,12,0,0,0,39
4046,2022,제주,서귀포시,소계,116,20167,10491,9676,20,5559,2891,2668,125,68,57,1712

In [21]:
# 2022년의 데이터만 추출, df2로 추출
df2 = df[df['연도'] == 2022]

In [22]:
df2 # 2022년도만 있는 데이터

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여,교사수_전체
2126,2022,서울,종로구,유치원,16,1019,522,497,0,436,219,217,0,0,0,92
2127,2022,서울,종로구,초등학교,13,4961,2496,2465,2,799,408,391,63,33,30,418
2128,2022,서울,종로구,중학교,9,2637,1366,1271,6,789,412,377,38,18,20,218
2129,2022,서울,종로구,고등학교,14,7589,4080,3509,11,2505,1337,1168,158,78,80,666
2130,2022,서울,종로구,(일반고),7,3584,2039,1545,6,1141,631,510,63,26,37,327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4042,2022,제주,서귀포시,고등학교,10,4094,2265,1829,8,1442,784,658,58,31,27,397
4043,2022,제주,서귀포시,(일반고),8,3364,1774,1590,6,1176,614,562,35,16,19,310
4044,2022,제주,서귀포시,(특성화고),2,730,491,239,2,266,170,96,23,15,8,87
4045,2022,제주,서귀포시,특수학교,1,114,78,36,1,34,22,12,0,0,0,39
4046,2022,제주,서귀포시,소계,116,20167,10491,9676,20,5559,2891,2668,125,68,57,1712

In [23]:
df2['시도'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [24]:
df2['행정구역'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '서구', '동구',
       '영도구', '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구',
       '수영구', '사상구', '기장군', '수성구', '달서구', '달성군', '연수구', '미추홀구', '남동구',
       '부평구', '계양구', '강화군', '옹진군', '광산구', '유성구', '대덕구', '울주군', '세종시',
       '수원시', '성남시', '부천시', '안양시', '과천시', '안산시', '용인시', '군포시', '의왕시',
       '시흥시', '평택시', '화성시', '오산시', '광명시', '광주시', '하남시', '김포시', '이천시',
       '안성시', '여주시', '양평군', '고양시', '남양주시', '구리시', '의정부시', '파주시', '동두천시',
       '양주시', '포천시', '가평군', '연천군', '춘천시', '원주시', '강릉시', '동해시', '태백시',
       '속초시', '삼척시', '홍천군', '횡성군', '영월군', '평창군', '정선군', '철원군', '화천군',
       '양구군', '인제군', '고성군', '양양군', '청주시', '충주시', '제천시', '보은군', '옥천군',
       '영동군', '진천군', '괴산군', '음성군', '단양군', '증평군', '천안시', '공주시', '보령시',
       '아산시', '서산시', '논산시', '계룡시', '금산군', '부여군', '서천군', '청양군', '홍성군',
       '예산군', '태안군', '당진시', '전주시', '군산시', '익산시', '정읍시', '남원시', '김제시',
       '완주군', '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군', '목포시',
       '여수시', '순천시', '나주시', '광양시', '담양군', '곡성군', '구례군', '고흥군', '보성군',
       '화순군', '장흥군', '강진군', '해남군', '영암군', '무안군', '함평군', '영광군', '장성군',
       '완도군', '진도군', '신안군', '포항시', '경주시', '김천시', '안동시', '구미시', '영주시',
       '영천시', '상주시', '문경시', '경산시', '군위군', '의성군', '청송군', '영양군', '영덕군',
       '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군', '울진군', '울릉군', '창원시',
       '진주시', '통영시', '사천시', '김해시', '밀양시', '거제시', '양산시', '의령군', '함안군',
       '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군', '합천군', '제주시', '서귀포시'],
      dtype=object)

In [25]:
df2['학제'].unique()

array(['유치원', '초등학교', '중학교', '고등학교', '  (일반고)', '  (특목고)', '  (특성화고)',
       '  (자율고)', '특수학교', '각종학교', '소계', '고등기술학교', '고등공민학교'], dtype=object)

In [26]:
# '학제' 값들의 이름에서 () 삭제
'  (일반고)'.replace('  (','').replace(')','')

'일반고'

In [27]:
# 전체 행에 적용할 함수 제작
def school_convert(x):
    try:
        return x.replace('  (','').replace(')','')
    except:
        return x

In [28]:
school_convert(df2['학제'].iloc[4])

'일반고'

In [29]:
df2['학제']=df2['학제'].apply(lambda x: school_convert(x))

C:\Users\leah5\AppData\Local\Temp\ipykernel_1056\2471371140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['학제']=df2['학제'].apply(lambda x: school_convert(x))

In [30]:
df2['학제'].unique()

array(['유치원', '초등학교', '중학교', '고등학교', '일반고', '특목고', '특성화고', '자율고', '특수학교',
       '각종학교', '소계', '고등기술학교', '고등공민학교'], dtype=object)

In [31]:
# '학제'에서 '고등학교' ,'일반고', '특목고', '특성화고' 만 빼고 삭제
df3 = df2[[i in ['고등학교' ,'일반고', '특목고', '특성화고']
          for i in df2['학제']]]

In [32]:
df3 # 연도 2022, 학제(고등학교,일반고,특목고,특성화고) 만 저장된 데이터

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여,교사수_전체
2129,2022,서울,종로구,고등학교,14,7589,4080,3509,11,2505,1337,1168,158,78,80,666
2130,2022,서울,종로구,일반고,7,3584,2039,1545,6,1141,631,510,63,26,37,327
2131,2022,서울,종로구,특목고,3,1878,629,1249,1,645,212,433,34,10,24,172
2132,2022,서울,종로구,특성화고,3,1298,583,715,3,461,236,225,44,25,19,124
2140,2022,서울,중구,고등학교,11,5547,2963,2584,5,1770,916,854,150,96,54,498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,2022,제주,제주시,특목고,2,388,166,222,0,142,59,83,8,3,5,51
4036,2022,제주,제주시,특성화고,4,2136,1031,1105,4,748,348,400,23,9,14,212
4042,2022,제주,서귀포시,고등학교,10,4094,2265,1829,8,1442,784,658,58,31,27,397
4043,2022,제주,서귀포시,일반고,8,3364,1774,1590,6,1176,614,562,35,16,19,310
4044,2022,제주,서귀포시,특성화고,2,730,491,239,2,266,170,96,23,15,8,87

In [33]:
df3['학교수'].isna().sum()

0

In [34]:
df3['학업중단자_여']

2129    80
2130    37
2131    24
2132    19
2140    54
        ..
4035     5
4036    14
4042    27
4043    19
4044     8
Name: 학업중단자_여, Length: 747, dtype: int64

In [18]:
# 연도 칼럼 삭제
df3.drop(['연도'], axis=1,inplace=True)

C:\Users\leah5\AppData\Local\Temp\ipykernel_1056\3857872458.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['연도'], axis=1,inplace=True)

In [35]:
df3.columns

Index(['연도', '시도', '행정구역', '학제', '학교수', '학생수_전체', '학생수_남', '학생수_여', '교사수',
       '입학자_전체', '입학자_남', '입학자_여', '학업중단자_전체', '학업중단자_남', '학업중단자_여', '교사수_전체'],
      dtype='object')

In [36]:
# 인덱스 리셋
df3.reset_index(drop=True)

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여,교사수_전체
0,2022,서울,종로구,고등학교,14,7589,4080,3509,11,2505,1337,1168,158,78,80,666
1,2022,서울,종로구,일반고,7,3584,2039,1545,6,1141,631,510,63,26,37,327
2,2022,서울,종로구,특목고,3,1878,629,1249,1,645,212,433,34,10,24,172
3,2022,서울,종로구,특성화고,3,1298,583,715,3,461,236,225,44,25,19,124
4,2022,서울,중구,고등학교,11,5547,2963,2584,5,1770,916,854,150,96,54,498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,2022,제주,제주시,특목고,2,388,166,222,0,142,59,83,8,3,5,51
743,2022,제주,제주시,특성화고,4,2136,1031,1105,4,748,348,400,23,9,14,212
744,2022,제주,서귀포시,고등학교,10,4094,2265,1829,8,1442,784,658,58,31,27,397
745,2022,제주,서귀포시,일반고,8,3364,1774,1590,6,1176,614,562,35,16,19,310
746,2022,제주,서귀포시,특성화고,2,730,491,239,2,266,170,96,23,15,8,87

In [37]:
df3.to_excel("교육통계데이터_2022_최종_교사수전체포함.xlsx", index=None)

In [38]:
df3

,연도,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여,교사수_전체
2129,2022,서울,종로구,고등학교,14,7589,4080,3509,11,2505,1337,1168,158,78,80,666
2130,2022,서울,종로구,일반고,7,3584,2039,1545,6,1141,631,510,63,26,37,327
2131,2022,서울,종로구,특목고,3,1878,629,1249,1,645,212,433,34,10,24,172
2132,2022,서울,종로구,특성화고,3,1298,583,715,3,461,236,225,44,25,19,124
2140,2022,서울,중구,고등학교,11,5547,2963,2584,5,1770,916,854,150,96,54,498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,2022,제주,제주시,특목고,2,388,166,222,0,142,59,83,8,3,5,51
4036,2022,제주,제주시,특성화고,4,2136,1031,1105,4,748,348,400,23,9,14,212
4042,2022,제주,서귀포시,고등학교,10,4094,2265,1829,8,1442,784,658,58,31,27,397
4043,2022,제주,서귀포시,일반고,8,3364,1774,1590,6,1176,614,562,35,16,19,310
4044,2022,제주,서귀포시,특성화고,2,730,491,239,2,266,170,96,23,15,8,87